@import './reset.css';
@import 'https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css';

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: 'Tossface', 'Pretendard-Thin', 'Pretendard-Black' sans-serif;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light mode colors */
  --background-color: #ffffff;
  --text-color: #000000;
  --button-color: #e0e0e0;
  --border-color: #d9d9d9;

  /* Dark mode colors */
  --background-color-dark: #121212;
  --text-color-dark: #ffffff;
  --button-color-dark: #333333;
  --border-color-dark: #424242;
}

body.dark-mode {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --button-color: var(--button-color-dark);
  --border-color: var(--border-color-dark);
}
